<!DOCTYPE html>
{% load static %}
<html>
<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <title>Clip my URL</title>
	  <link rel="icon" href="{% static "img/cmu.png"%}" type="image/icon type">
</head>
<body style="background-color :#e3e3e3" >
	<div style="margin-bottom:50px">
	<nav style="background-color :#4d6d9a" class="navbar navbar-light " style="margin-bottom:100px">
	  <div class="container-fluid ">
	    <div class="navbar-header">
	      <a class="navbar-brand" style="color: white;" href="{% url 'shortener:home' %}" title="Want to shorten link!">
	      	<span style="font-size:120%;font-family:Verdana,Arial Black; " ><strong>Clip my URL</strong> </span>
	      	<sub><span style="font-size:70% ;font-family:Comic Sans MS ">shortening service</span></sub></a></div></div>
	</nav>
	</div>
	<div class="container">
{% block content %}
  
{% endblock %}
	</div>
	<div class="navbar-light navbar container-fluid" style="background-color :#4d6d9a; color:white; position:absolute; bottom:0px;width:100%; margin-bottom:0px"><br>
	<p><strong>Contact Us At &nbsp&nbsp&nbsp&nbsp- </strong>&nbsp&nbsp&nbsp&nbsp
    <a style="color: white;" href="https://twitter.com/PiyushKhanna30"><strong>Twitter</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a style="color: white;" href="https://www.instagram.com/piyushkhanna_/"><strong>Instagram</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a style="color: white;" href="https://github.com/PiyushKhanna30"><strong>GitHub</strong></a></p>
    <br/>
    <p style="color: white;font-size: 0.9rem;" class="col-6"></strong>© 2019 Piyush Khanna.</strong></p>
  </div>
</body>
</html>
